codice/fileXML/scommesseUtenti/scommesseIppica.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT scommesseIppica (scommessa*)>

<!ELEMENT scommessa (id, scommettitore, risultato, puntata)>

<!ATTLIST scommessa
            eliminato (0 | 1) "0">

<!ELEMENT risultato (primo, secondo, terzo)>

<!ELEMENT id (#PCDATA)>

<!ELEMENT scommettitore (#PCDATA)>

<!ELEMENT primo (#PCDATA)>

<!ELEMENT secondo (#PCDATA)>

<!ELEMENT terzo (#PCDATA)>

<!ELEMENT puntata (#PCDATA)>




