codice/fileXML/richiesteAccredito/richiesteAccredito.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT richiesteAccredito (richiesta*)>

<!ELEMENT richiesta (id, richiedente, somma)>

<!ATTLIST richiesta
            status (in-sospeso | accettata | rifiutata) "in-sospeso">

<!ELEMENT id (#PCDATA)>

<!ELEMENT richiedente (#PCDATA)>

<!ELEMENT somma (#PCDATA)>