forum.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT forum (message*)>

<!ELEMENT message (sender, text, data, ora)>

<!ATTLIST message
            category (calcio | tennis | basket | ippica) #REQUIRED>

<!ELEMENT sender (#PCDATA)>

<!ELEMENT text (#PCDATA)>

<!ELEMENT data (giorno, mese, anno)>

<!ELEMENT giorno (#PCDATA)>

<!ELEMENT mese (#PCDATA)>

<!ELEMENT anno (#PCDATA)>

<!ELEMENT ora (#PCDATA)>

